<h1>{{tituloPagina}}</h1>
<section>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- plate Column -->
    <ng-container matColumnDef="placa">
      <th mat-header-cell *matHeaderCellDef> Placa </th>
      <td mat-cell *matCellDef="let row"> {{row.plate}} </td>
    </ng-container>

    <!-- tipoVehiculo Column -->
    <ng-container matColumnDef="tipoVehiculo">
      <th mat-header-cell *matHeaderCellDef> Tipo de Vehiculo </th>
      <td mat-cell *matCellDef="let row"> {{ row.type | vehicleType }} </td>
    </ng-container>

    <!-- cilindraje Column -->
    <ng-container matColumnDef="cilindraje">
      <th mat-header-cell *matHeaderCellDef> Cilindraje </th>
      <td mat-cell *matCellDef="let row"> {{row.cylinder}} </td>
    </ng-container>

    <!-- cilindraje500 Column -->
    <ng-container matColumnDef="cilindraje500">
      <th mat-header-cell *matHeaderCellDef> Cilindraje mayor a 500 </th>
      <td mat-cell *matCellDef="let row"> {{ (row.cylinderGreaterThan500) ? "Si" : "No" }} </td>
    </ng-container>

    <!-- registradoDesde Column -->
    <ng-container matColumnDef="registradoDesde">
      <th mat-header-cell *matHeaderCellDef> Registrado el </th>
      <td mat-cell *matCellDef="let row"> {{row.registrationDate | date:'HH:mm:ss - dd/MM/yyyy' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnasMostrar"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasMostrar;"></tr>
  </table>
</section>
