<mat-card class="example-card">
  <form class="example-form">
    <mat-card-header>
      <mat-card-title>
        <h1>{{lblTitulo}}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="example-form-field">
        <input matInput type="datetime-local" placeholder="Hora" [(ngModel)]="fechaIngreso"
          name="inputFechaIngreso" required>
      </mat-form-field>
      <br />
      <mat-form-field class="example-form-field">
        <input matInput type="text" placeholder="Placa" [(ngModel)]="record.vehicle.plate" minlength="5" maxlength="6"
          name="inputPlaca" autofocus required>
        <button mat-button *ngIf="record.vehicle.plate" matSuffix mat-icon-button aria-label="Limpiar" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="example-form-field">
        <mat-select placeholder="Tipo de Vehiculo" [(ngModel)]="tipoVehiculo" name="vehycleType" required>
          <mat-option *ngFor="let tipo of listTypes" [value]="tipo">{{tipo}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <section class="example-section">
        <mat-label for="cilynder500">Cilindraje mayor a 500cc: </mat-label>
        <br />
        <mat-radio-group required [(ngModel)]="cilindrajeMayor500" name="cilynder500">
          <mat-radio-button class="example-margin" value="1">Si</mat-radio-button>
          <mat-radio-button class="example-margin" value="0">No</mat-radio-button>
        </mat-radio-group>
      </section>
      <mat-form-field class="example-form-field">
        <input matInput type="text" placeholder="Cilindraje" [(ngModel)]="record.vehicle.cylinder" onkeyup="this"
          name="inputCilindraje" maxlength=6>
        <button mat-button *ngIf="record.vehicle.cylinder" matSuffix mat-icon-button aria-label="Limpiar" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions right>
      <button mat-raised-button color="warn" (click)="onClickCancelar()">{{btnCancelar}}</button>
      <button mat-raised-button color="primary" (click)="onClickAceptar()">{{btnAceptar}}</button>
    </mat-card-actions>
  </form>
</mat-card>
