<p>
  login works!
</p>
<div class="container">

  <div class="container text-center">
    <form class="form-signin" data-ember-action="2">
      <h2 class="form-signin-heading">Sign in</h2>
      <br>
      <div class="col-lg-12 text-center" style="margin-top: 50px">
        <img class="img-avatar" alt="">
      </div>
      <div class="col-lg-12">
        <label>{{lblUser}}
          <input type="text" formControlName="user">
        </label>
        <label>{{lblPass}}
          <input type="password" formControlName="pass">
        </label>
      </div>
      <br><br>

      <small class="text-muted">Or sign in with [your service]</small>
      <br><br>

      <br>
      <small class="create-account text-muted">Dont have a [your service] or social network account? <button id="ember363"
          class="ember-view btn btn-sm btn-default"> Sign Up </button> </small>
    </form>
  </div>
