<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      {{lblTitle}}
    </span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">verified_user</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="{{lblHome}}">
    <app-main></app-main>
  </mat-tab>
  <mat-tab label="{{lblHistory}}">
    <app-record-history></app-record-history>
  </mat-tab>
  <mat-tab label="{{lblVehicles}}">
    <app-vehicles></app-vehicles>
  </mat-tab>
</mat-tab-group>
